@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: initial;
    /* font-family: "Poppins", sans-serif; */
}

body {
    min-height: 100vh;
    background: white;
    text-size-adjust: 100%;
}

.none {
    display: none;
}
/* ------------------ Container --------------------- */
.container1 {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    min-width: 100%;
    background-color: #e1e1e147;
}
/* -------------------------------------- Navbar --------------------------------------------- */
.nav1 {
    /* position: fixed; */
    top: 0;
    display: flex;
    color: white;
    background-color: #000;
    justify-content: space-between;
    padding: 26px;
    align-items: center;
    margin-bottom: 67px;
    height: 5vh;
    box-shadow: 0px 10px 24px -10px #2424249c;
    z-index: 999;
    position: sticky;
}

.title_nav {
    font-size: 2em;
    font-family: sans-serif;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    /* left: -28vw; */
}

img.logo_est {
    width: 11%;
}

.signup1 {
    height: 49px;
    background-color: #2c2cd8;
    border: none;
    width: 15vw;
    /* height: 24vh; */
    font-size: 1.1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 999; */
    position: relative;
    left: 0;
}
.nav1 .signup1:hover {
    width: 16vw;
    transition: width 0.3s ease-in-out;
    /* background: #000; */
    color: #fff;
}

.signupLink {
    color: white;
    text-decoration: none;
}

.signupLink:active {
    color: red;
}
.signupLink:hover {
    color: white;
    text-decoration: none;
}

/* ---------------------------------------- TIMETABLE ---------------------------------------- */
.duree {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}
thead,
th,
td {
    text-align: center;
}

caption {
    caption-side: top;
    text-align: center;
}
/* -------------------------------------- SIdeBar ----------------------------------- */
.sidebarrr {
    width: 30%;
    height: 100vh;
    background-color: #2c2cd8;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* ----------------------------------- Sidebar SuperUser ----------------------------------- */

/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 4%;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.open {
    width: 16%;
}
.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}
.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
    text-align: right;
}
.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}
.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}
.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip {
    display: none;
}
.sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}
.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}
.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #fff;
}
.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #fff;
}
.sidebar .bx-search:hover {
    background: #fff;
    color: #11101d;
}
.sidebar li .li_span {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101d;
}
.sidebar li .li_span:hover {
    background: #fff;
}
.sidebar_bgColor {
    background: #2c2cd8;
}
.sidebar_color {
    color: black;
}
.sidebar li .li_span .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.open li .li_span .links_name {
    opacity: 1;
    pointer-events: auto;
}
.sidebar li .li_span:hover .links_name,
.sidebar li .li_span:hover i {
    transition: all 0.5s ease;
    color: #11101d;
}
.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
.sidebar li.profile {
    position: fixed;
    height: 45px;
    width: 4%;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}
.sidebar.open li.profile {
    width: 16%;
}
.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
.sidebar li.profile .job {
    font-size: 12px;
}
.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}
.home-section {
    position: relative;
    background: #e0e0e01a;
    min-height: 100vh;
    top: 0;
    /*left: 77px;
    width: calc(100% - 77px);*/

    left: 0px;

    width: calc(100% - 0px);
    transition: all 0.5s ease;
}
.sidebar.open ~ .home-section {
    left: 226px;
    width: calc(100% - 226px);
}
.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}
@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}
.modal-backdrop {
    z-index: 999;
}
.form-control {
    width: 94%;
}
/* .form-group {
	margin-bottom: 1rem;
} */
.icon-logo {
    font-size: 2em;
    margin-right: 12px;
    margin-left: 8px;
}

.absenceModify{
    height: 70vh;
}
